.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: white;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.App-header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #3c4556;
  z-index: 10;
}

.content {
  top: 120px;
  width: 100%;
  position: absolute;
  background-color: #282c34;
}

.todos {
  margin-left: auto;
  margin-right: auto;
}

.todo-completed {
  text-decoration: line-through;
}

.active {
  color: #4da3ff;
}
